header.main-header{
  background-image: url(/img/background.jpg);
  height:100vh;
  width:100vw;
  background-size: cover;
  }

#about{
  background-color:aliceblue
}

#aboutContent{
  padding-top:3vw;
  padding-bottom:3vw;
}

.section {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center
}

.sectionHeader {
  color: #374054;
  margin-bottom: 1vh;
}

.item-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left
}

.item-block h4 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #374054
}

.item-block span {
  color: #74808a;
  float: right
}

.item-block h5 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 2px 0
}

.item-block h6 {
  font-size: 1.0em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0
}

.item-block p, .item-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em
}

.item-block ul {
  padding: 0 0 0 15px
}

/* Begin logo color animation */ 
@keyframes logoTextColorPalette {
  0% {
    color: #fe938c; 
  }
  25% {
    color: #e6b89c;
  }
  50% {
    color: #ead2ac; 
  }
  75% {
    color: #9cafb7; 
  }
  100% {
    color: #4281a4; 
  }
}

.logoEasterEgg {
  animation-name: logoTextColorPalette; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*End Logo Animation*/ 